<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>利用opencv-python 对图片进行隐藏水印</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        $(function(){
            $("#makeBw").click(function(){
                console.log("form button click");
                $("#srcImg").attr("src","")
                $("#desImg").attr("src","")
                $("#secImg").attr("src","")
                $("#makeBw").attr('disabled',true);
                $("#makeBw").val("已经提交请等待处理结果");
                var form = new FormData(document.getElementById("tf"));
                $.ajax({
                    url:"../uploadFile/",
                    type:"post",
                    data:form,
                    processData:false,
                    contentType:false,
                    success:function(data){
                       console.log(data)
                       data=data.data;
                       $("#srcImg").attr("src",'..'+data.srcImg);
                       $("#desImg").attr("src",'..'+data.desImg);
                       //$("#secImg").attr("src",'..'+data.secImg)
                       $("#makeBw").attr('disabled',false);
                       $("#makeBw").val("上传图片");
                    },
                    error:function(e){
                        console.log("error");
                        $("#makeBw").attr('disabled',false);
                       $("#makeBw").val("上传图片");
                    }
                });
            });
        });
    </script>
</head>
<body>



<form id="tf" action="./uploadFile/"  enctype="multipart/form-data" method="post" style="border:1px solid red;with:200px;height:300px">
{% csrf_token %}
  <input type="file" name="img">

  <br/>
  <br/>
  <br/>

  <input id="makeBw" type="button" value="上传图片">

</form>
<h4>原图</h4>
<img id="srcImg" src=""/>

<br/>
<h4>添加隐藏水印</h4>
<img id="desImg" src=""/>

<br/>
<h4>尝试进行磨皮处理</h4>
<img id="secImg" src=""/>


</body>
</html>